option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: Django_Backend/fitza/wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fitza.settings.prod
    PYTHONPATH: /var/app/current/Django_Backend:$PYTHONPATH

container_commands:
  01_migrate:
    command: "python Django_Backend/manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python Django_Backend/manage.py collectstatic --noinput"
  03_wsgi_fix:
    command: "cp Django_Backend/fitza/wsgi.py /var/app/current/wsgi.py"